* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  color: #fff;
}
body {
  background-color: #b31c1c;
}
.container {
  display: flex;
  justify-content: center;
  background-color: rgb(126, 22, 22);
  width: 100%;
}
.nav--bar .fa {
  visibility: hidden;
}
.nav--bar ul {
  display: flex;
  flex-direction: row;
}
.nav--bar ul li {
  list-style: none;
  font-size: 25px;
  margin-top: 30px auto;
  padding: 20px;
}

.bg--image__right img {
  width: 180px;
  height: 100px;
  padding-left: 30px;
  margin: 5px;
}
.bg--image__left img {
  width: 180px;
  height: 100px;
  padding-right: 30px;
  margin: 5px;
}
.shopping--list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.shopping--list h1 {
  font-family: "Pacifico", cursive;
  font-size: 600;
}
.shopping--list__item {
  display: grid;
  flex-direction: column;
  grid-template-columns: minmax(auto-fill, repeat(3, 1fr));
  gap: 8px 8px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
.shopping--list__item h2 {
  text-align: center;
  background-color: rgb(17, 16, 16);
  width: 50%;
  margin: 0 auto;
  border-radius: 8px;
}

.shopping--list__item p {
  text-align: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}
.shopping--list__item img {
  width: 305px;
  height: 190px;
  align-self: center;
  margin-top: 8px;
  margin-bottom: 20px;
  margin: 0 auto;
}
.shopping--list__item img:hover {
  box-shadow: 6px 6px 12px 10px rgba(0, 0, 0, 0.3);
  transform: scale(0.8, 0.8);
  transition-duration: 2s;
}
form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  bottom: -5px;
}
.copy--right {
  flex: 0.25;
}

.social--icons {
  padding: 5px;
  flex: 0.75;
}
.social--icons .fa {
  font-size: 1.5rem;
  padding: 8px;
  margin: 0 20px;
}
.social--icons .fa:hover {
  color: #ffd615;
  transition-duration: 1s;
}

/* media queries */
@media screen and (max-width: 600px) {
  .bg--image__left img {
    width: 180px;
    height: 100px;
    padding: 10px;
    margin-left: 650px;
  }
  .bg--image__left img:hover {
    transform: translate(-45px, 15px);
  }
  .bg--image__right {
    visibility: hidden;
  }
  .nav--bar ul li {
    visibility: hidden;
  }
  .shopping--list__item h2 {
    padding: 10px;
  }
  .shopping--list__item img {
    width: 230px;
    height: 160px;
  }
  .nav--bar .fa {
    font-size: 3rem;
    visibility: visible;
    margin-top: 30px;
    margin-left: 20px;
  }
  .nav--bar .fa:hover {
    color: #ffd615;
    transition-duration: 1.5s;
  }
  .social--icons {
    flex: 1 0 auto;
    padding: 5px;
    margin-bottom: 6px;
  }
  .social--icons .fa {
    font-size: 1.5rem;
    padding: 8px;
  }
  .social--icons .fa:hover {
    color: #ffd615;
    transition-duration: 1s;
  }
  .copy--right {
    bottom: -10px;
    right: 0;
    font-size: 0.8rem;
    margin: 3px;
  }
}

/* scrollbar resetter */
/*Hide scrollbar for Chrome, Safari, and Opera*/
.container::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE, Edge, and Firefox*/
.container {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none;
} /*Firefox*/
